// Colors
$purple: #2D173D;
$pink: #FF98B7;
$blue: #5FB2FF;
$tangerine: #FFA286;
$peach: #FCDCC8;
$rose-sugar: #FFF4F2;
$rose: #CB1330;

// Greys
$black: #000000;
$grey-dark:  #4a4a4a;
$grey-medium:   #B0B0B0;
$grey-light: #F3F1F1;
$white:      #FFFFFF;

// Aliases
$text: rgba($black, 0.9);
$primary: $tangerine;
$secondary: $rose-sugar;
$link: $rose;
$selection: $peach;
$border: $grey-light;

// Breakpoints
$breakpoint-mobile: 768px;
$breakpoint-tablet: 1024px;
$breakpoint-laptop: 1280px;
$breakpoint-desktop: 1600px;

// Margin and padding
$m: 10px;

// Branding
$radius: 5px;

// Header
$header-height: 70px;