// Text selection
// NOTE: must be specified individually
::selection { background: $selection; }
::-moz-selection { background: $selection; }

// Font weights
$font-weight-regular: normal;
$font-weight-bold: bold;

// Font names
$font-style-heading: sans-serif;
$font-style-body: sans-serif;

// Font style placeholders
%font-heading {
  font-family: $font-style-heading;
  font-weight: $font-weight-bold;
}

%font-body {
  font-family: $font-style-body;
  font-weight: $font-weight-regular;
}


// Headings
$font-size-h1: 30px;
$font-size-h2: 24px;
$font-size-h3: 20px;
$font-size-h4: 16px;
$font-size-h5: 14px;
%h1, %h2, %h3, %h4, %h5 {
  @extend %font-heading;
  margin-top: 0;
  margin-bottom: 24px;
  line-height: 1.1;
}
%h1 {
  font-size: $font-size-h1;
}
%h2 {
  font-size: $font-size-h2;
}
%h3 {
  font-size: $font-size-h3;
}
%h4 {
  font-size: $font-size-h4;
}
%h5 {
  font-size: $font-size-h5;
}

h1, .h1 { @extend %h1; }
h2, .h2 { @extend %h2; }
h3, .h3 { @extend %h3; }
h4, .h4 { @extend %h4; }
h5, .h5 { @extend %h5; }


p, .p {
  font-size: 16px;
}

strong, .strong {
  font-weight: $font-weight-bold !important;
}

label, .label {
  @extend %font-heading;
}


// Links
a, .link {
  color: $link;
  text-decoration: underline;

  &:focus, &:hover, &:active {
    color: darken($link, 15%);
  }
}

// Code
code {
  background-color: $grey-light;
  color: $text;
  font-family: 'Courier New', Courier, monospace;
  white-space: pre;
  border-radius: $radius;
  padding: $m / 2;
}
pre > code {
  display: block;
  overflow-x: scroll;
  padding: $m;
}

// Blockquote
blockquote {
  margin-left: 0;
  padding-left: $m * 2;
  border-left: 4px solid $grey-light;
  color: rgba($text, 0.6);
}

// General / default
html {
  @extend %font-body;
  color: $text;
  line-height: 1.5;

  // Better Font Rendering
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-variant-ligatures: no-common-ligatures;
}
